name: CI
on:
  push:
    branches:
      - master
  pull_request:

jobs:

  lint:
    strategy:
      fail-fast: false
      matrix:
        lint-command:
          - "bandit -r ssdp -x tests"
          - "black --check --diff ."
          - "flake8 ."
          - "isort --check-only --diff ."
          - "pydocstyle ."
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v2.2.2
      - uses: actions/checkout@v2.3.5
      - uses: actions/cache@v2.1.6
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - run: python -m pip install -r requirements.txt
      - run: ${{ matrix.lint-command }}

  dist:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt install -y gettext
      - uses: actions/setup-python@v2.2.2
      - uses: actions/checkout@v2.3.5
      - name: Install Python dependencies
        run: python -m pip install --upgrade pip setuptools wheel twine readme-renderer
      - run: python setup.py sdist bdist_wheel
      - run: python -m twine check dist/*
      - uses: actions/upload-artifact@v2
        with:
          path: dist/*

  PyTest:
    needs:
      - lint
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python-version:
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
        exclude:
          - os: windows-latest
            python-version: 3.6
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/checkout@v2.3.5
      - run: python -m pip install --upgrade setuptools wheel codecov
      - run: python setup.py test
      - run: codecov
